@using Blogger.Core.Convertors
@model Blogger.DataLayer.Entities.News.News

@{
    ViewData["Title"] = "حذف خبر";
}

<h1>حذف خبر</h1>

<h3>آیا از حذف این خبر مطمئن هستید؟</h3>
<div>
  
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
          <label>@Model.CreateDate.ToShamsi()</label>
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NewsId" />
        <input type="submit" value="حذف" class="btn btn-danger" /> 
    </form>
</div>
